@media screen and (max-width: 550px) {
    .owl-dots {
        bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .target__list {
        gap: 10px
    }
}

@media (max-width: 991px) {
    #header .navbar-collapse {
        position: fixed;
        padding-top: 70px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 8;
        /* kích hoạt thanh cuộn nếu nội dung vượt quá kích thước màn hình */
        margin-inline: 0;
        background-color: var(--secondary-color);
        transition: all .3s;
    }
}

@media screen and (min-width: 992px) {
    body {
        overflow: auto !important;
    }
}

@media screen and (min-width: 1200px) {
    .col-sm-6:nth-of-type(1) .card__fee {
        margin-inline: auto 0;
    }

    .col-sm-6:nth-of-type(3) .card__fee {
        margin-inline: 0 auto;
    }
}